<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/vagaStyly.css">
  <title>Assessment</title>
</head>

<body>
<header class="topo">
  <div>
    <label class="nameJob">Ventura Recursos Humanos</label>
  </div>
</header>

<form method="post" class="formulario"  action="vagas">
  <h2>Adicione uma nova vaga:</h2>
  <label>Cargo:</label>
  <input type="text"
         class="form-control"
         placeholder="Insira o cargo"
         name="nome">
  <br/>
  <label>Especialização:</label>
  <input type="text"
         class="form-control"
         placeholder="Insira a especialização"
         name="especializacao">
  <br/>
  <label>Local de trabalho:</label>
  <input type="text"
         class="form-control"
         id="pwd"
         placeholder="Insira o modelo de trabalho"
         name="localTrabalho">
  <br/>
  <label>Salario:</label>
  <input type="number"
         class="form-control"
         id="alt"
         placeholder="informe o salario"
         name="salario">
  <br/>

  <button type="submit"
          class="btn btn-default"
  >
    Cadastrar
  </button>
</form>
</body>
</html>