<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vagaStyly.css">
    <title>Assessment</title>
</head>

<body>
<header class="topo">
    <div>
        <label class="nameJob">Ventura Recursos Humanos</label>
    </div>
</header>

<form method="POST" class="formulario" action="explicacoes.html" >
    <h2>Assessment - Projeto de Bloco:</h2>
    <h3>Software - Ventura Recursos Humanos</h3>
    <br/>

    <div>
        <h3>Modelo Iterativo e incremental</h3>

        <p>Um modelo de CVGP Incremental consistes em vários incrementos dependentes e
            que sã concluídos em uma sequencia predefinida. Cada Incremento inclui as etapas de
            Lançamento, Monitoramento e Controle e Encerramento para as funções,
            características e funcionalidades esperadas para aquele respectivo incremento. Cada
            incremento integra partes adicionais da solução ate o incremento final, no qual as partes
            remanescentes da solução são integradas.
        </p>
        <p>
            Um modelo de CVGP Interativo São projetos que possuem meta claramente definida
            e documentada, mas as características e funcionalidades ainda não podem ser
            claramente definida e documentada e cuja solução é completa a ponto de especificar a
            definição final de uma ou mais características e funcionalidades.

        </p>

        <h3>Relação entre OO, UML e RUP</h3>

        <p>
            O RUP se espalha sobre uma grande área do panorama de projetos. Quando a
            complexidade e a incerteza são baixas, mas a solução não completamente definida, o
            RUP é um processo pesado. Requer uma documentação considerável, especialmente
            para reuso de código
        </p>
        <p>
            Orientação a Objetos (OO) é uma abordagem de programação que procura explorar
            nosso lado intuitivo. Os objetos da computação são análogos aos objetos existentes no
            mundo real. No enfoque de OO, os átomos do processo de computação são os objetos
            que trocam mensagens entre si. Essas mensagens resultam na ativação de métodos,
            os quais realizam as ações necessárias.

        </p>
        <p>
            UML (Unified Modelling Language) É uma linguagem para especificação, construção,
            visualização e documentação de sistemas. É uma evolução das linguagens para
            especificação de conceitos de Booch, OMT e OOSE e também de outros métodos de
            especificação de requisitos de software orientados a objetos ou não.

        </p>



    </div>

    <br/>
    <label >São Paulo, 2 de Outubro de 2021</label>
    <br/>

    <button type="submit"
            class="btn btn-default">
        Seguir
    </button>
</form>
</body>
</html>