<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vagaStyly.css">
    <title>Assessment</title>
</head>

<body>
<header class="topo">
    <div>
        <label class="nameJob">Ventura Recursos Humanos</label>
    </div>
</header>

<form method="POST" class="formulario" action="home.html" >
    <h2>Assessment - Projeto de Bloco:</h2>
    <h3>Software - Ventura Recursos Humanos</h3>
    <br/>

    <div>
        <h3> UML de visão geral do sistema </h3>
        <img src="uml.jpg" alt="some text" width=60 height=40>


    </div>

    <br/>
    <label >São Paulo, 2 de Outubro de 2021</label>
    <br/>

    <button type="submit"
            class="btn btn-default">
        Seguir
    </button>
</form>
</body>
</html>