<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vagaStyly.css">
    <title>Assessment</title>
</head>

<body>
<header class="topo">
    <div>
        <label class="nameJob">Ventura Recursos Humanos</label>
    </div>
</header>

<form method="POST" class="formulario" action="modeloIncremental.html" >
    <h2>Assessment - Projeto de Bloco:</h2>
    <h3>Software - Ventura Recursos Humanos</h3>
    <br/>

    <div>
        <h3>O que é um Modelo cascata ?</h3>
        <p>Metodologia tradicionais conhecidas como modelo cascata quase que assume
            que os modelos de informação sobre meta e solução são completas. E isso pode ser
            o resultado de várias experiencias em projetos similares ou do fato do projeto
            realmente estar bem definido
        </p>
        <p>
            "desvios , tais como solicitações de mudança de escopo, podem causar
            grandes comodações neste modelo que é orientado a planejamento."
            Robert k. wysocki gestão de projetos pag 363
        </p>

        <h3>Suas forças: </h3>
        <p>
            Projeto inteiro de cvgp é programado no início;

            Os requisitos  de recursos  são conhecidos desde o início;

            Os modelos  de cvgp lineares  não exigem os membros da equipe mais competentes;

            Os membros da equipe  não precisam estar colocalizados;
        </p>

        <h3>Suas fraquezas: </h3>
        <p>
            Não aceita mudanças muito bem;

            O custo é muito alto;

            Demora muito tempo antes de produzir qualquer entrega;

            Requer planos completos e detalhados;

            Tem de seguir uma rígida sequência de processos;

            Não tem como foco o valor para o cliente;
        </p>


    </div>

    <br/>
    <label >São Paulo, 2 de Outubro de 2021</label>
    <br/>

    <button type="submit"
            class="btn btn-default">
        Seguir
    </button>
</form>
</body>
</html>